<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <div class="container text-center position-absolute top-50 start-50 translate-middle">
    <h3 class="h3">REGISTER TOSERBA</h3>
    <form th:action="@{/user/register}" th:object="${register}" method="post">
      <div class="col my-3 form-floating">
        <input class="form-control" id="floatingEmail" type="email" placeholder="Email" th:field="${register.email}" required>
        <label for="floatingEmail">Email</label>
      </div>
      <div class="col my-3 form-floating">
        <input class="form-control" id="floatingPassword" type="password" placeholder="Password" th:field="${register.password}" required>
        <label for="floatingPassword">Password</label>
      </div>
      <div class="col my-3 form-floating">
        <input class="form-control" id="floatingFullname" type="text" placeholder="Fullname" th:field="${register.fullname}" required>
        <label for="floatingFullname">Fullname</label>
      </div>
      <div class="col my-3 form-floating">
        <input class="form-control" id="floatingPhone" type="text" placeholder="Phone" th:field="${register.phone}" required>
        <label for="floatingPhone">Phone</label>
      </div>
      <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <div class="mt-3">
      <a th:href="@{/user/login}" class="link-primary mx-2"><small>I have an account</small></a>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>